<section class="header1">


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-12">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Welcome to
                    Programming
                    Jokes</h1>
                <p class="text-monospace">
                    A random, funny project developed during quarantine times based on Joke API found on github. <a
                        href="https://github.com/15Dkatz/official_joke_api" target="_blank">Link here</a>
                </p>
                <p class="text-monospace">Other Jokes coming soon ☻</p>
            </div>
        </div>
    </div>

</section>
